@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Slab:wght@100..900&display=swap');

:root {
    color-scheme: light dark;
    --dark-1: hsl(240, 5%, 10%);
    --dark-2: hsl(240, 10%, 20%);
    --dark-3: hsl(240, 15%, 30%);
    --light-1: hsl(240, 45%, 90%);
    --light-2: hsl(240, 40%, 80%);
    --light-3: hsl(240, 35%, 70%);
    --base-unit: 1rem;
}

.active,
button:active,
select:active,
input:focus {
    background-color: light-dark(var(--light-3), var(--dark-3));
}

body * {
    color: light-dark(var(--dark-2), var(--light-2));
    background-color: light-dark(var(--light-2), var(--dark-2));
    justify-content: center;
    align-content: center;
    align-items: center;
    font-family: "Inter", "Verdana", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    border: none;
    border-radius: var(--base-unit);
    transition: 0.5s;
    flex: 1 1 auto;
    text-align: center;
    line-height: 1.5em;
    margin: 0;
    padding: var(--base-unit);
    font-size: var(--base-unit);
    outline: none;
    scrollbar-width: none;
    -ms-overflow-style: none;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

* {
    box-sizing: border-box;
}

::selection {
    color: light-dark(var(--light-2), var(--dark-2));
    background-color: light-dark(var(--dark-2), var(--light-2));
}

::-moz-selection {
    color: light-dark(var(--light-2), var(--dark-2));
    background-color: light-dark(var(--dark-2), var(--light-2));
}

::placeholder {
    color: light-dark(var(--light-3), var(--dark-3));
}

html {
    margin: 0;
    padding: 0;
    background-color: transparent;
    width: 100%;
    height: 100%;
    font-size: 100%;
}

body {
    background-color: light-dark(var(--light-1), var(--dark-1));
    margin: 0;
    padding: var(--base-unit);
    width: 100%;
    display: grid;
    grid: auto / 1fr;
    grid-gap: var(--base-unit);
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "DM Sans", "Verdana", sans-serif;
    font-weight: 500;
}

button,
select,
option {
    cursor: pointer;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

a {
    font-weight: 700;
}

div {
    width: 100%;
    display: grid;
    background-color: transparent;
    padding: 0;
    margin: 0;
    grid-gap: var(--base-unit);
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}